.pop-overis-shown {
    left: 5px; 
    top: 211px; 
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
}
.no-back{
   border: 1px solid black;
}
pop-over-header-close-btnicon-smicon-close{
color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

pop-over-header-close-btnicon-smicon-close:hover,
pop-over-header-close-btnicon-smicon-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}