
.pop-overis-shown {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    background: white;
    box-shadow: 2px 2px 5px black;
    overflow: auto;
    left: 150px;
    top: 100px;
}

.pop-up-input {
    width: 100%;
    margin-bottom: 20px;
}

.pop-up-txt {
    width: 100%;
}

.no-back{
   border: 1px solid black;
   padding: 2em;
}


.b {
    border: 1px solid black;
}

.pop-up-close{
    color: #aaaaaa;
    line-height: 0.9em; 
    font-size: 20px;
    float: right;
    font-weight: bold;
}

.pop-up-close:hover,
.pop-up-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




